html {
  color: white;
  /* color: black; */
  /* font-family: 'Noto Sans SC', sans-serif; */
  background-color: #404040;
}

body {
  /* width: 600px; */
  margin: 0 auto;
  /* background-color: #FF9500; */
  padding: 0 20px 20px 20px;
  /* border: 5px solid black; */
  font-size: large;
}

h1 {
  /* font-size: 60px; */
  text-align: center;
  margin: 0;
  /* padding: 0 40px; */
  /* color: #00539F; */
  /* text-shadow: 3px 3px 1px black; */
}

/* p, li { */
  /* font-size: 16px; */
  /* line-height: 2; */
  /* letter-spacing: 1px; */
/* } */

/* img { */
  /* display: block; */
  /* margin: 0 auto; */
/* } */

.RowRwy {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;

}

.RowText {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	gap: 10px;

}

.RowWeather {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 20px;

}

.pDI {
	width: 225px;
}

.depth {
	width: 50%;
}

.aboutMe {
	font-size: smaller;
}

fieldset {
	margin: 5px;
}

select {
	width: 230px;
	outline-color: red;
}

input {
	outline-color: red;
}

div {
	outline-color: red;
}
